@import 'tailwindcss/base';
@import 'tailwindcss/components';
@import 'tailwindcss/utilities';

body {
    padding: 10px;
}
.width{
    max-width: 700px;
}
.ListContainer{
    display: flex;
    flex-direction: column;
    row-gap: 10px;
}
.displayListContainer{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}

.flex{
    display: flex;
    gap: 22px;
}




.hidden{ 
    visibility: hidden;
    display: none ;
    background-color: brown;
}

.gg {
    visibility: visible;
    display: block; 
    background-color: brown;
}

.d {
    font-size: large;
    background-color: black;
    display: flex;
}

.hidden-option {
    visibility: hidden;
    display: none;
  }  
/* #CloseMassage#active {
    visibility: visible;
    display: block;
    background-color: brown;
} */