body {
    padding: 10px;
}
.width{
    max-width: 700px;
}
.ListContainer{
    display: flex;
    flex-direction: column;
    row-gap: 10px;
}
.displayListContainer{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}

.flex{
    display: flex;
    gap: 22px;
}




.hidden{ 
    visibility: hidden;
    display: none ;
    background-color: brown;
}

.gg {
    visibility: visible;
    display: block; 
    background-color: brown;
}

/* #CloseMassage#active {
    visibility: visible;
    display: block;
    background-color: brown;
} */