{% extends "auctions/layout.html" %}

{% block body %}
<form action="{% url 'CreatList' %}" method="POST">
    {% csrf_token %}
    <div class="ListContainer">

      <div class="form-floating width">
        <input required class="form-control" placeholder="ListName" type="text" name="ListName" id="ListName">
        <label for="ListName">ListName</label>
      </div>  
      
      <div class="form-floating width" >
        <input required type="text" class="form-control" name="ListImage"id="ListImage" placeholder="ListImage">
        <label for="ListImage">ListImage</label>
      </div>

      <div class="form-floating width" >
        <input required type="number" class="form-control" name="ListPrice" id="ListPrice" placeholder="price">
        <label for="price">Price</label>
      </div>

      <div class="form-floating width">
        <input required class="form-control" type="text" name="ListDiscription" id="ListDiscription" placeholder="Discription">
        <label for="ListDiscription"> Discription</label>
      </div>

      <div class="form-floating width" >
        <select required class="form-select" id="floatingSelect" aria-label="Floating label select example" name="ListCategory" id="ListCategory">
        <option class="hidden-option" selected></option>
        {% for item in catagores %}
        <option value="{{item}}">{{item}}</option>
        {% endfor %}
      </select>
      <label for="floatingSelect">chose your category</label>
    </div>
    <button class="btn btn-primary width" type="submit">Creat List</button>
  </div>
  </form>
  
  {% endblock %}