{% extends "auctions/layout.html" %}

{% block body %}
<form action="{% url 'CreatList' %}" method="POST">
    {% csrf_token %}
    <label for="ListName">ListName</label>
    <input type="text" name="ListName" id="ListName">
    
    <select name="ListCategory" id="ListCategory">
        <option selected>Open this select menu</option>
        {% for item in catagores %}
        <option value="{{item}}">{{item}}</option>
        {% endfor %}
    </select>
    <button type="submit">send itttttt</button>
</form>
{% endblock %}